
.posterContainer{

    background-image: url('../../assets/images/hero_area_image_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* height:90vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 200px 0 0 0;
}

.posterInnerSection
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 30px;

}
.posterFirstText
{
    font-family: "Caveat";
    font-size: 42px;
    color: #6DFFFF;
    text-align: left;
}

.posterSecondText
{
    font-family: 'Gothic A1';
    font-size: 76px;
    font-weight: 800;
    text-align: left;    
    color:white;
}

.speakerImg{
    position: absolute;
    right:0;
}

.speakerImg img{
    width:240px;
}


.eventsTitle h1{
    font-size: 42px;
    font-family: 'Caveat';
    font-weight: 700;
    color:rgb(254, 38, 118);
}
.eventsTitle h2{
    font-family: 'Gothic A1';
    font-size: 50px;
    font-weight: 900;
}
.eventsContainer
{
padding-top:80px;
background: rgb(243,240,251);
background: linear-gradient(63deg, rgba(243,240,251,1) 15%, rgba(226,222,246,1) 100%);
padding-bottom: 50px;
}
.paginationButton button{
width: 300px;
font-size: 18px;
padding-top:20px;
padding-bottom:20px;
/* font-weight: 900; */
}