.home-container
{
    background: url(../assets/img/brand/6101073.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}


.department-card:hover
{
background-color: white;
color:#5e72e4;
}
.department-card
{
    background:  linear-gradient(rgb(255, 254, 254), rgba(255, 255, 255, 0.5)), url("../assets/img/brand/gear.png");
    background-size: cover;
    
}

.Card-container
{
margin-bottom: 40px;
}

.register-link
{
    text-decoration: none;
    color:white;
}
/* .landing-parent .landing-text
{
    max-width: 30%;
} */

@media only screen and (max-width: 600px) {

    .landing-parent{
        flex-direction: column;
    }

    .landing-parent .landing-text
    {
        width:100%;
    }
}

@media only screen and (min-width: 1200px) {
    .landing-parent .landing-text
    {
        width:30%;
    }
}