.login-container
{
    position: relative;
   
}

.login-container::before
{
    content: "";
    position: absolute;
    background-image: url("../assets/img/brand/na_feb_36.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -3;
    right: 0;
     bottom:0;
    width: 90%;
    height: 100%;

}

.register__login
{
    background-color:#03506f7f;
    color:white;
    user-select: none;
    padding: 20px;
}

.hidden
{
    display: none;
}
